/* Optimized for screens between 320px and 1440px viewport width */

@import "variables"
@import "mixins"

* 
    padding: 0
    margin: 0
    box-sizing: border-box

html 
    user-select: none
    font-family: $standard-font
    font-size: $small-font-mobile
    line-height: $small-mobile-line-height
    background-image: url("/anthony_lee_unsplash.png")
    background-size: contain 

[tabindex="0"]
    outline-offset: $pixel-unit

.header
    text-align: center
    padding: 3 * $pixel-unit 0

.heading
    font-family: $decorative-font
    font-size: $large-font-mobile
    line-height: $large-mobile-line-height

.controls
    justify-content: space-evenly
    margin: 4.5 * $pixel-unit 0
    @include flex

.draw
    flex-direction: column
    padding: $pixel-unit * 2
    @include flex
    @include hoverable

.caption
    margin-top: $pixel-unit
    display: none

.author 
    @include overflow

.title
    font-family: $decorative-font
    font-size: $large-font-mobile
    line-height: $large-mobile-line-height
    @include overflow

.dice
    box-shadow: $dice-shadow

.subheading
    font-family: $decorative-font
    line-height: $large-mobile-line-height
    font-size: $large-font-mobile
    text-align: center
    margin-bottom: $pixel-unit

.content
    max-width: 80vw
    line-height: $large-mobile-line-height

.text
    @include flex
    flex-direction: column
    
.image
    width: $image-size
    height: $image-size
    object-fit: cover 
    margin: $pixel-unit * 2 0
    pointer-events: none

.footer
    text-align: center
    padding: 2 * $pixel-unit 0
    margin-top: 4.5 * $pixel-unit

/* Color themes */
@media(prefers-color-scheme: light)
    html
        color: $black
        background-color: $white

    .header, .footer
        background-color: $white

    .dice
        fill: $black
        
@media(prefers-color-scheme: dark)
    html
        color: $white
        background-color: $black

    .header, .footer
        background-color: $black

    .dice
        fill: $white 

@media(min-width: 768px)
    .caption
        display: inline

@media(min-width: 1024px)
    html, .heading, .title, .subheading
        font-size: $font-desktop
        line-height: $desktop-line-height

    .caption
        margin-top: 0

    .content
        line-height: $desktop-line-height
