/* Android Large Light */
    
$white: rgb(239, 239, 239)
$black: #2a2a2a
$light-black: rgb(42, 42, 42, .125)

$large-mobile: 20px
$small-mobile: 16px

$small-mobile-line-height: 24px
$large-mobile-line-height: 28px

$decorative: "Leckerli One"
$standard: "Poppins"

$header-shadow: 0 2px 8px 0 $light-black
$footer-shadow: 0 -2px 8px 0 $light-black
$dice-shadow: 8px 8px 0 $light-black

* 
    padding: 0
    margin: 0
    box-sizing: border-box

html 
    user-select: none
